.codeBlockContainer {
  margin-bottom: var(--ifm-leading);
  position: relative;
}

.codeBlockTitle {
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
  font-size: var(--ifm-code-font-size);
  font-weight: 500;
  padding: 0.75rem var(--ifm-pre-padding);
  border-top-left-radius: var(--ifm-pre-border-radius);
  border-top-right-radius: var(--ifm-pre-border-radius);
  background: #212121;
  color: #fafafa;
}
.codeBlock {
  font: inherit;
  min-width: 100%;
  padding: var(--ifm-pre-padding) 0;
  font-size: 14px;
}
.codeBlock > div > div {
  padding: 0 16px;
  border-left-color: transparent;
}
.codeBlockTitle + .codeBlock {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.annot {
  position: absolute;
  left: .5rem;
}

.flex {
  display: flex;
}

.textright {
  text-align: right;
  position: relative;
  left: -6px
}

.opacity50 {
  opacity: .5;
}

.selectnone {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.flex_1 {
  flex: 1 1 0%;
}

.pl_2 {
  padding-left: .5rem;
}

.numhighlight {
  background-color: rgba(14, 165, 233, 0.1); /* 강조 색상 */
  border-left-color: rgb(14, 165, 233); /* 강조된 라인의 좌측 테두리 색상 */
}