.paginationContainer {
  margin-bottom: 2rem;
}

.itemsContainer {
  margin: 1rem 0;
  padding: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 0.25rem;
}

.pagination a {
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.pagination .active a {
  background-color: #0078e7;
  color: white;
  border-color: #0078e7;
}

.pagination a:hover {
  background-color: #eee;
}
